*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    /* border: 1px solid blue; */
    height: 600px;
    background-image: url(./new/images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.hero-header{
    width: 77%;
    height: 100px;
    /* border: 2px solid red; */
}

.header1{
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.loopstudios{
    width: 68%;
   /* border: 1px solid blue; */
}
.loopstudios p{
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about{
    width: 37%;
   /* border: 1px solid green; */
    display: flex;
    gap: 30px;
}

.about p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.immerse{
    font-size: 35PX;
    display: flex;
    border: 1px solid white;
    width: 30%;
    margin-top: 120px;
}

.immerse P{
    margin: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white
}

.man{
    width: 100%;
    /* border: 4px solid yellow; */
    height: 400px;
    display: flex;
    justify-content: center;
}

.container2{
    /* border: 4px solid green; */
    width: 77%;
    height: 350px;
    display: flex;
}
.interactive{
    margin-top: 60px;
    border: 4px solid red;
    /* width: 50%; */
    height: 100%;
    background-image: url(./new/images/desktop/image-interactive.jpg);
    background-size: 78vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
}

.leader{
    border: 4px solid purple;
    width: 56%;
    height: 65%;
    margin: 50px;
    margin-top: 120px;
    font-size: 10px;
    background-color: white;

}
.paragrph-container{
    font-weight: 400;
    color: rgb(47, 44, 44);
    margin: 40px;
}

.leader-header{
    font-weight: 600;
    font-size: 30px;
    color: rgb(85, 72, 72);
}
.creations{
    width: 100%;
    height: 50px;
    margin-top: 70px;
    /* border: 4px solid green; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.our-header{
    width: 77%;
    /* border: 4px solid red; */
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.our-creations{
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: rgb(65, 59, 59);
}

.see-all button{
    /* border: 1px solid black; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.graphics{
    width: 100%;
    height: 700px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.photos{
    width: 77%;
    height: 100%;
    /* border: 4px solid green; */
}

.photos-container{
    width: 100%;
    height: 50%;
    /* border: 4px solid rgb(218, 116, 21); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.photo1{
    width: 24%;
    /* border: 3px solid red; */
    height: 100%;
    background-image: url(./new/images/desktop/image-deep-earth.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photo1 p{
    color: blue;
    display: flex;
   /* justify-content:right; */
   /* align-items: center; */

}
.photo2{
    width: 24%;
    /* border: 3px solid red; */
    height: 100%;
    background-image: url(./new/images/desktop/image-night-arcade.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photo3{
    width: 24%;
    /* border: 3px solid red; */
    height: 100%;
    background-image: url(./new/images/desktop/image-grid.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photo4{
    width: 24%;
    /* border: 3px solid red; */
    height: 100%;
    background-image: url(./new/images/desktop/image-from-above.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photo5{
    width: 24%;
    /* border: 3px solid red; */
    height: 100%;
    background-image: url(./new/images/desktop/image-pocket-borealis.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photo6{
    width: 24%;
    /* border: 3px solid red; */
    height: 100%;
    background-image: url(./new/images/desktop/image-curiosity.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photo7{
    width: 24%;
    /* border: 3px solid red; */
    height: 100%;
    background-image: url(./new/images/desktop/image-fisheye.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.photo8{
    width: 24%;
    /* border: 3px solid red; */
    height: 100%;
    background-image: url(./new/images/desktop/image-deep-earth.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer{
    margin-top: 130px;
    width: 100%;
    height: 150px;
    /* border: 4px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}
.footer-container{
    width: 77%;
    height: 70%;
    /* border: 4px solid blue; */
    display: flex;
    /* justify-content: center; */
    align-items: end;
    color: white;
}

.loop-footer{
    width: 50%;
    height: 70%;
    /* border: 4px solid green; */
    /* display: flex; */
}
.loopstf{
    font-weight: 700;
}
.aboutf{
    font-weight: 500;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    /* justify-content: left; */
    /* align-items: flex-end; */
    justify-content: flex-start;
}

.logo-footer{
    /* width: 50%;
    height: 100%;
    border: 4px solid purple; */
    width: 50%;
    height: 70%;
    /* border: 4px solid green; */
}

.logos{
    /* border: 4px solid red; */
    height: 50%;
    display: flex;
    justify-content: right;
    gap: 14px;
}

.rights{
    margin-top: 20px;
    display: flex;
    justify-content: right;
    gap: 20px; 
}